{% extends '../base.html' %}

{% block title %}Access Feed{% end %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Please enter the password to access the feed:
            </div>
            <form method="POST" class="panel-body">
                <div class="form-group">
                    <label for="_password">Password:</label>
                    <div class="input-group">
                        <input type="password" name="password" id="_password" class="form-control" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-user"></i> Auth
                            </button>
                        </span>
                    </div>
                </div>
                {% module xsrf_form_html() %}
            </form>
        </div>
    </div>
</div>
{% end %}

{% block javascript %}
<script>$('#_password:first').focus();</script>
{% end %}
