{% extends '../base.html' %}

{% block title %}Feed Setup{% end %}

{% block content %}
<blockquote>
    <i class="glyphicon glyphicon-question-sign"></i>
    Feed is required to share the contents of your storage to public.

    <h5>
        Your public feed is available at:
        {% raw linkify(reverse_url('feed_index', current_user['login'], absolute=True), extra_params='target="_blank"') %}.
    </h5>
</blockquote>

<form action="{{ reverse_url('api_feed') }}" method="POST" class="js-dynamic" data-message="Public feed was successfully updated.">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="_title">Page title:</label>
                    <input type="text" name="title" value="" id="_title" class="form-control" placeholder="{{ current_user['login'] }}" maxlength="64">
                </div>
                <div class="col-md-10 form-group">
                    <label for="_readme">README:</label>
                    <textarea type="text" name="readme" id="_readme" class="form-control" rows="10" placeholder="No README is provided." data-provide="markdown"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div><label>Status:</label></div>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="is_enabled" value="0" required checked>
                        <i class="glyphicon glyphicon-remove"></i> Disabled
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="is_enabled" value="1">
                        <i class="glyphicon glyphicon-ok"></i> Enabled
                    </label>
                </div>
            </div>
            <div class="form-group has-warning">
                <label for="_password" class="control-label"><i class="glyphicon glyphicon-lock"></i> Password:</label>
                <input type="text" name="password" value="" id="_password" class="form-control" placeholder="no password" maxlength="72">
            </div>
        </div>
    </div>
    <div class="well">
        <button class="btn btn-primary">
            <i class="glyphicon glyphicon-save"></i> Save
        </button>
    </div>
</form>
{% end %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ static_url('vendor/bootstrap-markdown-2.10.0/css/bootstrap-markdown.min.css') }}">
{% end %}

{% block javascript %}
<script src="{{ static_url('vendor/marked-0.3.5/marked.min.js') }}"></script>
<script src="{{ static_url('vendor/bootstrap-markdown-2.10.0/js/bootstrap-markdown.min.js') }}"></script>
{% end %}
