{% extends '../base.html' %}

{% block title %}File Storage{% end %}

{% block content %}
<blockquote>
    <i class="glyphicon glyphicon-question-sign"></i>
    You can add new files to the storage by dragging and dropping them to this window.
    <h5>Folders cannot be uploaded to the system directly. Please use multiple files upload or ZIP folder to upload the archive.</h5>
</blockquote>

<table class="table table-bordered table-hover table-condensed storage">
<thead>
    <tr>
        <th>File</th>
        <th style="width: 90px;">Info</th>
        <th style="width: 120px;">Size</th>
        <th style="width: 200px;">Created at</th>
        <th class="text-center" style="width: 100px;">
            <a class="btn btn-xs btn-file btn-success">
                <input type="file" class="storage-upload" multiple>
                <i class="glyphicon glyphicon-plus"></i> Add Files
            </a>
        </th>
    </tr>
</thead>
<tbody class="storage-list" data-api="{{ reverse_url('api_files') }}">
    <tr class="active storage-folder">
        <td><div></div></td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr class="storage-item">
        <td class="storage-nowrap">
            <small class="glyphicon glyphicon-menu-right"></small>
            <a target="_blank" class="storage-name"></a>
            <span class="storage-status">
                <small class="glyphicon glyphicon-lock text-danger storage-lock"></small>
                <small class="glyphicon glyphicon-globe text-success storage-public"></small>
            </span>
        </td>
        <td class="text-center">
            <span class="btn btn-xs btn-info status-info">
                <i class="glyphicon glyphicon-info-sign"></i> Info
            </span>
        </td>
        <td><abbr class="storage-size"></abbr></td>
        <td><abbr class="storage-created"></abbr></td>
        <td class="text-center">
            <a class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal_edit" title="Edit">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="btn btn-xs btn-danger storage-delete" title="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </td>
    </tr>
    <tr class="storage-empty">
        <td><div>There are no files in the storage</div></td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td><strong class="storage-total">Total: 0</strong></td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
</tfoot>
</table>

<div class="modal fade" id="modal_upload" data-backdrop="static">
    <div class="modal-dialog">
        <form action="{{ reverse_url('api_upload') }}" class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <div class="modal-body">
                <small class="pull-right">
                    <i class="glyphicon glyphicon-question-sign"></i>
                    Found a bug? <a href="mailto:alex.lokhman@gmail.com?subject=Sharedown: Bug Report">Report it</a>
                </small>
                <label>Files:</label>
                <div class="panel panel-default">
                    <div class="panel-body upload-list">
                        <div class="upload-item" data-text="File">
                            <a class="close">&times;</a>
                            <i class="glyphicon glyphicon-file"></i>
                            <input type="hidden" name="_upload_files[]">
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-ok"></i>
                                <i class="glyphicon glyphicon-remove"></i>
                                <i class="status-progress"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group has-warning">
                        <label for="_upload_password" class="control-label"><i class="glyphicon glyphicon-lock"></i> Password:</label>
                        <input type="text" class="form-control" id="_upload_password" name="_password" placeholder="no password" maxlength="72">
                    </div>
                    <div class="col-md-7 form-group">
                        <span class="checkbox pull-right" style="margin: 0;">
                            <label>
                                <input type="checkbox" id="_upload_public" name="_public" value="1">
                                displayed in feed <small class="glyphicon glyphicon-globe"></small>
                            </label>
                        </span>
                        <label for="_upload_caption" class="control-label">Caption:</label>
                        <input type="text" class="form-control" id="_upload_caption" name="_caption" placeholder="no alternative file name" maxlength="64">
                    </div>
                </div>
                <div id="upload_settings" class="collapse">
                    <div class="form-group">
                        <span class="checkbox pull-right" style="margin: 0;">
                            <label>
                                <input type="checkbox" id="_upload_permanent" name="_permanent" value="1">
                                never expires <small class="glyphicon glyphicon-exclamation-sign text-danger" style="cursor: help;"
                                    title="Please use this option ONLY if you need to keep uploads in the storage for a long time."></small>
                            </label>
                        </span>
                        <label for="_upload_folder" class="control-label">Folder:</label>
                        <input type="text" class="form-control" id="_upload_folder" name="_folder" placeholder="default folder" maxlength="64">
                    </div>
                </div>
                <div class="upload-progress">
                    <small>
                        Progress: <span class="upload-size"></span>
                        <span class="pull-right upload-speed"></span>
                    </small>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#upload_settings" class="btn btn-xs btn-default pull-left collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-plus"></i> More settings
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal_edit" data-backdrop="static">
    <div class="modal-dialog">
        <form action="{{ reverse_url('api_files') }}" method="POST" class="modal-content" data-message="File details were successfully saved.">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Edit File</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 form-group has-warning">
                        <label for="_edit_password" class="control-label"><i class="glyphicon glyphicon-lock"></i> Password:</label>
                        <input type="text" class="form-control" id="_edit_password" name="password" placeholder="no password" maxlength="72">
                    </div>
                    <div class="col-md-7 form-group">
                        <span class="checkbox pull-right" style="margin: 0;">
                            <label>
                                <input type="hidden" name="is_public" value="0" data-mapped="false">
                                <input type="checkbox" id="_edit_public" name="is_public" value="1">
                                displayed in feed <small class="glyphicon glyphicon-globe"></small>
                            </label>
                        </span>
                        <label for="_edit_caption">Caption:</label>
                        <input type="text" class="form-control" id="_edit_caption" name="caption" placeholder="no alternative file name" maxlength="64">
                    </div>
                </div>
                <div class="form-group">
                    <span class="checkbox pull-right" style="margin: 0;">
                        <label>
                            <input type="hidden" name="is_permanent" value="0" data-mapped="false">
                            <input type="checkbox" id="_edit_permanent" name="is_permanent" value="1">
                            never expires <small class="glyphicon glyphicon-exclamation-sign text-danger" style="cursor: help;"
                                title="Please use this option ONLY if you need to keep uploads in the storage for a long time."></small>
                        </label>
                    </span>
                    <label for="_edit_folder">Folder:</label>
                    <input type="text" class="form-control" id="_edit_folder" name="folder" placeholder="default folder" maxlength="64">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="drop-zone" data-text="Please drag and drop files here"></div>
{% end %}

{% block javascript %}
<script src="{{ static_url('vendor/bootstrap3-typeahead-4.0.1/bootstrap3-typeahead.min.js') }}"></script>
<script src="{{ static_url('js/storage.min.js') }}"></script>
{% end %}
