{% extends '../base.html' %}

{% block title %}Users{% end %}

{% block content %}
<table class="table table-bordered table-striped table-hover table-condensed">
<thead>
    <tr>
        <th>Login</th>
        <th style="width: 150px;">Level</th>
        <th style="width: 150px;">Storage</th>
        <th style="width: 200px;">Activity at</th>
        <th style="width: 200px;">Created at</th>
        <th style="width: 100px;" class="text-center">
            <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal_user">
                <i class="glyphicon glyphicon-plus"></i> New
            </a>
        </th>
    </tr>
</thead>
<tbody class="users-list" data-api="{{ reverse_url('api_users') }}">
    <tr class="users-item">
        <td>
            <span class="users-login"></span>
            <span class="pull-right">
                <small class="glyphicon glyphicon-warning-sign text-danger users-token"></small>
                <a class="text-success users-feed" target="_blank" title="Feed is enabled">
                    <small class="glyphicon glyphicon-globe"></small>
                </a>
            </span>
        </td>
        <td class="users-level"></td>
        <td class="users-storage">
            {% if handler.check_level(handler.LEVEL_SUPER) %}<a></a>{% else %}<span></span>{% end %}
        </td>
        <td class="users-activity"></td>
        <td class="users-created"></td>
        <td class="text-center">
            <a class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal_user" title="Edit">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="btn btn-xs btn-danger users-delete" title="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td colspan="6">
            <strong class="users-total">Total: 0</strong>
        </td>
    </tr>
</tfoot>
</table>

<div class="modal fade" id="modal_user" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <form action="{{ reverse_url('api_users') }}" method="POST" class="modal-content" data-message="User details were successfully saved.">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">User Form</h4>
            </div>
            <div class="modal-body">
                <div class="pull-right">
                    <label class="radio-inline text-danger">
                        <input type="radio" name="is_enabled" value="0" required> disabled
                    </label>
                    <label class="radio-inline text-success">
                        <input type="radio" name="is_enabled" value="1" checked> enabled
                    </label>
                </div>
                <div class="form-group">
                    <label for="_login">Login:</label>
                    <input type="text" class="form-control" id="_login" name="login" pattern="[\w.-]{2,32}" maxlength="32"
                        title="Permitted only alphanumeric characters, '_', '-', and '.'" required>
                </div>
                <div class="form-group">
                    <label for="_password">Password:</label>
                    <input type="password" class="form-control" id="_password" name="password" maxlength="72">
                </div>
                {% if handler.check_level(handler.LEVEL_SUPER) %}
                    <div class="form-group users-token-group">
                        <label>API Token:</label>
                        [ <a class="users-token-show">show token</a> ]
                        <span class="pull-right">
                            <a class="text-warning users-token-update" title="Update API token"><small class="glyphicon glyphicon-refresh"></small></a>
                            <a class="text-danger users-token-delete" title="Delete API token"><small class="glyphicon glyphicon-remove"></small></a>
                        </span>
                    </div>
                {% end %}
                <div class="row form-group">
                    <div class="col-md-2" style="white-space: nowrap;">
                        <label>Level:</label>
                    </div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="level" value="{{ handler.LEVEL_USER }}" required checked> User
                        </label>
                        <label class="radio-inline text-warning">
                            <input type="radio" name="level" value="{{ handler.LEVEL_ADMIN }}"> Administrator
                        </label>
                        {% if handler.check_level(handler.LEVEL_SUPER) %}
                            <br><label class="radio-inline text-danger">
                                <input type="radio" name="level" value="{{ handler.LEVEL_SUPER }}"> SUPER
                            </label>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/users.min.js') }}"></script>
{% end %}
